$font-main: 'readex';

$neutral-dblue: #121212;
$neutral-dark: #000000;
$neutral-lblue: #465362;

$primary-yellow: #F9DC5C;
$primary-pink: #ED254E;


$color-white: white;
$color-gray: rgb(158, 158, 158);
$color-lgray: rgb(206, 206, 206);