$font-main: 'readex';

$neutral-dblue: #2727277a;
$neutral-dark: #000000;
$neutral-lblue: #465362;
$neutral-base: #272727; 

$primary-yellow: #F9DC5C;
$primary-pink: #F06292;
$primary-red: #fc4d4f;

$color-white: white;
$color-gray: rgb(158, 158, 158);
$color-lgray: rgb(206, 206, 206);